# Traffic Police Stops

In [1]:
import pandas as pd

In [2]:
dosya = pd.read_csv("police.csv")

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
buyuk = pd.DataFrame(dosya)

In [4]:
ri = buyuk.sample(50000)

In [5]:
ri.shape

(50000, 26)

In [6]:
ri.head(5)

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
173275,RI-2008-47651,RI,2008-12-16,14:11,Zone X1,NaN,NaN,NaN,0,M,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1
317108,RI-2012-10827,RI,2012-02-22,14:26,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone K1
188466,RI-2009-13823,RI,2009-04-09,10:00,Zone X3,NaN,NaN,NaN,200,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X3
442181,RI-2014-30386,RI,2014-07-25,07:18,Zone X3,NaN,NaN,NaN,200,M,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone X3
381030,RI-2013-13921,RI,2013-04-25,14:28,Zone K2,NaN,NaN,NaN,900,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2

In [7]:
ri.isnull()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
173275,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
317108,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
188466,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
442181,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
381030,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238918,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
226,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
173277,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
232472,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
166143,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False

In [8]:
ri.isnull().sum()

id                           0
state                        0
stop_date                    2
stop_time                    2
location_raw                 0
county_name              50000
county_fips              50000
fine_grained_location    50000
police_department            2
driver_gender             2766
driver_age_raw            2759
driver_age                2925
driver_race_raw           2762
driver_race               2762
violation_raw             2762
violation                 2762
search_conducted             2
search_type_raw          48225
search_type              48225
contraband_found             0
stop_outcome              2762
is_arrested               2762
stop_duration             2762
out_of_state              2851
drugs_related_stop           0
district                     0
dtype: int64

In [10]:
ri.isnull().mean()*100

id                         0.000
state                      0.000
stop_date                  0.004
stop_time                  0.004
location_raw               0.000
county_name              100.000
county_fips              100.000
fine_grained_location    100.000
police_department          0.004
driver_gender              5.532
driver_age_raw             5.518
driver_age                 5.850
driver_race_raw            5.524
driver_race                5.524
violation_raw              5.524
violation                  5.524
search_conducted           0.004
search_type_raw           96.450
search_type               96.450
contraband_found           0.000
stop_outcome               5.524
is_arrested                5.524
stop_duration              5.524
out_of_state               5.702
drugs_related_stop         0.000
district                   0.000
dtype: float64

In [30]:
ri.shape

(50000, 26)

In [31]:
ri.drop(["county_name","state"], axis=1, inplace=True)

In [32]:
ri.shape

(50000, 24)

In [33]:
ri.isnull().sum()

id                           0
stop_date                    3
stop_time                    3
location_raw                 0
county_fips              50000
fine_grained_location    50000
police_department            3
driver_gender             2914
driver_age_raw            2908
driver_age                3065
driver_race_raw           2911
driver_race               2911
violation_raw             2911
violation                 2911
search_conducted             3
search_type_raw          48328
search_type              48328
contraband_found             0
stop_outcome              2911
is_arrested               2911
stop_duration             2911
out_of_state              2984
drugs_related_stop           0
district                     0
dtype: int64

In [34]:
ri["driver_gender"]

219717      M
408523      M
506435      M
156372      F
283994      F
         ...
397334      M
338592      F
270628    NaN
123392      M
280266      F
Name: driver_gender, Length: 50000, dtype: object

In [51]:
ri.dropna(subset=["driver_gender"], inplace=True)

In [53]:
ri.isnull().sum()

id                           0
stop_date                    0
stop_time                    0
location_raw                 0
county_fips              47086
fine_grained_location    47086
police_department            0
driver_gender                0
driver_age_raw               0
driver_age                 156
driver_race_raw              0
driver_race                  0
violation_raw                0
violation                    0
search_conducted             0
search_type_raw          45414
search_type              45414
contraband_found             0
stop_outcome                 0
is_arrested                  0
stop_duration                0
out_of_state                73
drugs_related_stop           0
district                     0
dtype: int64

In [52]:
ri.shape

(47086, 24)

***

## Fixing a data type

In [61]:
a = ri["is_arrested"]

In [67]:
a.dtype

dtype('O')

In [13]:
ri["is_arrested"].head()

173275    False
317108    False
188466    False
442181    False
381030    False
Name: is_arrested, dtype: object

In [17]:
ri.is_arrested.value_counts()

False    45541
True      1697
Name: is_arrested, dtype: int64

In [79]:
ri["is_arrested"].dtype

dtype('O')

In [100]:
ri2 = ri.astype({"is_arrested" : "bool"}, copy=False)

In [101]:
ri2["is_arrested"].dtypes

dtype('bool')

***

## Combining object columns

In [114]:
combined = ri2.stop_date.str.cat(ri2.stop_time, sep = " ")

In [115]:
combined

219717    2010-01-14 17:25
408523    2013-12-02 23:35
506435    2015-11-30 11:44
156372    2008-08-17 21:32
283994    2011-07-21 10:18
                ...
446559    2014-08-27 23:29
397334    2013-09-02 17:34
338592    2012-06-14 13:15
123392    2007-12-10 04:13
280266    2011-06-23 07:05
Name: stop_date, Length: 47086, dtype: object

In [121]:
combined = pd.to_datetime(combined)

In [122]:
combined

219717   2010-01-14 17:25:00
408523   2013-12-02 23:35:00
506435   2015-11-30 11:44:00
156372   2008-08-17 21:32:00
283994   2011-07-21 10:18:00
                 ...
446559   2014-08-27 23:29:00
397334   2013-09-02 17:34:00
338592   2012-06-14 13:15:00
123392   2007-12-10 04:13:00
280266   2011-06-23 07:05:00
Name: stop_date, Length: 47086, dtype: datetime64[ns]

In [123]:
ri2["stop_datetime"] = combined

In [125]:
ri2["stop_datetime"]

219717   2010-01-14 17:25:00
408523   2013-12-02 23:35:00
506435   2015-11-30 11:44:00
156372   2008-08-17 21:32:00
283994   2011-07-21 10:18:00
                 ...
446559   2014-08-27 23:29:00
397334   2013-09-02 17:34:00
338592   2012-06-14 13:15:00
123392   2007-12-10 04:13:00
280266   2011-06-23 07:05:00
Name: stop_datetime, Length: 47086, dtype: datetime64[ns]

In [126]:
ri2.dtypes

id                               object
stop_date                        object
stop_time                        object
location_raw                     object
county_fips                     float64
fine_grained_location           float64
police_department                object
driver_gender                    object
driver_age_raw                  float64
driver_age                      float64
driver_race_raw                  object
driver_race                      object
violation_raw                    object
violation                        object
search_conducted                 object
search_type_raw                  object
search_type                      object
contraband_found                   bool
stop_outcome                     object
is_arrested                        bool
stop_duration                    object
out_of_state                     object
drugs_related_stop                 bool
district                         object
stop_datetime            datetime64[ns]
dtype: object

In [130]:
ri2.set_index("stop_datetime", inplace=True)

In [137]:
ri2.index

DatetimeIndex(['2010-01-14 17:25:00', '2013-12-02 23:35:00',
               '2015-11-30 11:44:00', '2008-08-17 21:32:00',
               '2011-07-21 10:18:00', '2013-05-26 10:43:00',
               '2015-06-09 00:26:00', '2010-09-27 07:45:00',
               '2005-10-01 22:00:00', '2013-05-11 13:48:00',
               ...
               '2010-06-06 14:40:00', '2005-10-01 15:30:00',
               '2012-09-09 14:08:00', '2008-02-16 09:22:00',
               '2007-10-22 08:30:00', '2014-08-27 23:29:00',
               '2013-09-02 17:34:00', '2012-06-14 13:15:00',
               '2007-12-10 04:13:00', '2011-06-23 07:05:00'],
              dtype='datetime64[ns]', name='stop_datetime', length=47086, freq=None)

In [136]:
ri2

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2010-01-14 17:25:00,RI-2010-01621,2010-01-14,17:25,Zone K1,NaN,NaN,600,M,1982.0,28.0,...,False,NaN,NaN,False,N/D,False,0-15 Min,False,False,Zone K1
2013-12-02 23:35:00,RI-2013-41414,2013-12-02,23:35,Zone K3,NaN,NaN,300,M,1991.0,22.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2015-11-30 11:44:00,RI-2015-43830,2015-11-30,11:44,Zone X1,NaN,NaN,0,M,1982.0,33.0,...,False,NaN,NaN,False,Warning,False,30+ Min,False,False,Zone X1
2008-08-17 21:32:00,RI-2008-30748,2008-08-17,21:32,Zone K3,NaN,NaN,300,F,1989.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2011-07-21 10:18:00,RI-2011-23507,2011-07-21,10:18,Zone X3,NaN,NaN,200,F,1988.0,23.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-08-27 23:29:00,RI-2014-34764,2014-08-27,23:29,Zone K3,NaN,NaN,300,M,1959.0,55.0,...,False,NaN,NaN,False,Warning,False,16-30 Min,False,False,Zone K3
2013-09-02 17:34:00,RI-2013-30225,2013-09-02,17:34,Zone X3,NaN,NaN,200,M,1958.0,55.0,...,False,NaN,NaN,False,Arrest Driver,True,30+ Min,True,False,Zone X3
2012-06-14 13:15:00,RI-2012-32311,2012-06-14,13:15,Zone K3,NaN,NaN,300,F,1977.0,35.0,...,False,NaN,NaN,False,Warning,False,0-15 Min,True,False,Zone K3
2007-12-10 04:13:00,RI-2007-50971,2007-12-10,04:13,Zone X4,NaN,NaN,500,M,1967.0,40.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
2011-06-23 07:05:00,RI-2011-19779,2011-06-23,07:05,Zone K3,NaN,NaN,300,F,1986.0,25.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3